.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0 20px;

    svg {
      margin-right: 4px;
      width: 80px;
      height: 80px;
      fill: var(--card-red);

      animation: 0.75s logo-glow ease-in-out alternate infinite;

      filter: drop-shadow(0 0 0 rgba(var(--card-red-rgb), 0));
    }

    @keyframes logo-glow {
      0% {
        filter: drop-shadow(0 0 0 rgba(var(--card-red-rgb), 0));
      }
      100% {
        filter: drop-shadow(0 0 10px rgba(var(--card-red-rgb), 1));
      }
    }

    &__scoundrel {
      color: var(--card-beige);
      font-size: 40px;
      font-weight: 650;
    }
    // &__mode {
    //   color: var(--card-red);
    //   font-weight: 300;
    // }
  }
}
