.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: calc(var(--gap) * 1);

  &__tabs-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--gap) * 1);
    padding: 12px;

    border-radius: calc(var(--button-height) * 0.6 + 12px);
    background: rgba(var(--black-rgb), 0.7);
    box-shadow: inset 0 0 10px rgba(var(--black-rgb), 0.8);

    &__tabs {
      display: flex;
      padding: 6px;

      background: rgba(var(--K800-rgb), 0.2);
      border-radius: calc(var(--button-height) * 0.6 + 6px);

      button {
        transition: 0.1s ease all;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex: 1;
        padding: 10px;

        border: 2px solid transparent;
        border-radius: calc(var(--button-height) * 0.6);
        background: transparent;

        svg {
          transition: 0.1s ease all;
          width: 38px;
          height: 38px;
          fill: rgba(var(--white-rgb), 0.6);
        }
        span {
          transition: 0.1s ease all;
          font-size: 16px;
          font-weight: 600;
          color: rgba(var(--white-rgb), 0.6);
        }

        // Other
        &:not(:disabled) {
          &:hover {
            svg {
              fill: var(--red);
            }
            span {
              color: var(--red);
            }
          }
        }

        // Selected
        &:disabled {
          cursor: not-allowed;

          background: rgba(var(--white-rgb), 1);

          svg {
            fill: var(--red);
          }
          span {
            color: var(--red);
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }
}

// ===== Results ===== //
.home__results {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 0.5);
  padding: calc(var(--gap) * 0.8);

  border-radius: 12px;
  background: rgba(var(--black-rgb), 0.8);
  box-shadow:
    inset 0 0 2px 1px rgba(var(--white-rgb), 0.2),
    inset 0 0 20px rgba(var(--white-rgb), 0.2),
    1px 2px 12px rgba(var(--black-rgb), 0.3);

  text-align: center;

  h2 {
    margin: 0;

    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;

    color: var(--white);
  }

  &__stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;

    span {
      font-size: 18px;
      font-weight: 300;
      color: var(--white);
    }
  }

  &--won {
    background: var(--green);
  }
  &--lost {
    background: var(--red);
  }
}

// ===== Home ===== //
.inventory-table {
  thead {
    svg {
      width: 32px;
      height: 32px;
      fill: var(--white);
    }
  }

  th,
  td {
    &:not(:first-child) {
      text-align: center;
    }
  }

  .inv-qty {
    font-size: 24px;
    font-weight: 650;
    color: var(--card-beige);

    &--none {
      opacity: 0.2;
      font-weight: 300;
    }
  }

  .inv-table-name {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      width: 32px;
      height: 32px;
      fill: var(--white);
    }
    span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &--modal {
    margin-top: -20px;
  }

  &--dungeon-end,
  &--modal {
    .inv-table-name {
      flex: 1;
    }
    td,
    th {
      &:nth-child(2) {
        opacity: 0.4;
        font-weight: 450;
      }
    }
  }

  .inv-table-buttons {
    display: flex;
    justify-content: center;
    gap: 6px;

    button {
      width: var(--button-height);
      height: calc(var(--button-height) * 0.8);
      padding: 0;
      border-radius: 4px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// ===== Shop ===== //
.shop {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      display: flex;
      align-items: center;
      flex: 1;

      &__name {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 1;

        svg {
          width: 34px;
          height: 34px;
          fill: var(--white);
        }
        span {
          font-size: 22px;
          font-weight: 500;
        }
      }

      &__owned {
        width: 60px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
      }

      &__buy {
        width: 140px;
      }

      button {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0;

        b {
          font-weight: 650;
        }
      }
    }
  }
}

// ===== Character ===== //
.character {
  display: flex;
  flex-direction: column;
}
