.weapons {
  $weapons-gap: calc(var(--gap) * 0.8);
  $weapons-border-radius: calc(var(--gap) * 0.6);

  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1;
  padding: $weapons-gap;
  padding-right: 0;
  gap: $weapons-gap;

  border-radius: $weapons-border-radius;
  border: 1px solid rgba(var(--K700-rgb), 0.55);
  background: rgba(var(--K900-rgb), 0.6);
  box-shadow:
    inset 0 0 10px rgba(var(--K100-rgb), 0.12),
    1px 2px 12px rgba(var(--K950-rgb), 0.5),
    2px 4px 20px rgba(var(--K950-rgb), 0.6);

  &:after {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: $weapons-border-radius;
    box-shadow: inset 0 0 $weapons-gap var(--K900);
  }

  &__weapon {
    position: relative;
    width: var(--card-width);
    aspect-ratio: var(--card-aspect-ratio);

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      fill: rgba(var(--K950-rgb), 0.85);

      filter: drop-shadow(0 0 4px rgba(var(--K200-rgb), 0.1));
    }

    .card--empty {
      display: none;
    }
  }
  &__separator {
    width: 1px;
    height: var(--card-height);

    background: rgba(var(--K700-rgb), 0.5);
    box-shadow: 0 0 6px rgba(var(--K400-rgb), 0.3);
  }
  &__cards {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1;

    .card {
      position: absolute;
    }

    > svg {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      width: 85%;
      height: 85%;
      fill: rgba(var(--K950-rgb), 0.85);

      filter: drop-shadow(0 0 4px rgba(var(--K200-rgb), 0.1));
    }

    @mixin card-offsets($count, $offset) {
      @for $i from 2 through $count {
        .card:nth-child(#{$i}) {
          z-index: $i - 1;
          margin-left: ($i - 1) * $offset;
        }
      }
    }

    @include card-offsets(10, 12%);
  }
}
