@use "./colors.scss";
$width-cutoff: 420px;

:root {
  // Static
  --card-aspect-ratio: calc(5 / 7);
  --card-border-radius: 6px;

  // Status bar
  --bar-height: 44px;
  --button-height: 44px;

  @media (max-height: 790px) {
    --bar-height: 38px;
    --button-height: 38px;
  }

  // Widths
  --max-width: 100vw;
  --gap: 4.2vw;
  --action-button-height: 12vw;
  --action-button-gap: 2.5vw;
  --card-width: calc((var(--max-width) - (var(--gap) * 5)) / 4);

  @media (min-width: $width-cutoff) {
    --max-width: #{$width-cutoff};
    --gap: 18px;
    --action-button-height: 46px;
    --action-button-gap: 8px;
    --card-width: calc((var(--max-width) - (var(--gap) * 5)) / 4);
  }

  // Calculated
  --card-height: calc(var(--card-width) / var(--card-aspect-ratio));
}

// Wrap
.wrap {
  transition: 1s ease all;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .confetti {
    pointer-events: none;
    z-index: 100;
  }
}

// Main
.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  max-height: 900px;
  margin: auto;
  padding: var(--gap);

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    width: 100%;
    gap: var(--gap);
    padding: 20px 0;

    @media (min-height: 690px) {
      gap: 3vh;
    }

    > div {
      display: flex;
      width: 100%;
    }
  }
}

// Status Row
.deck-and-weapons {
  align-items: center;
  gap: var(--gap);
}

// Card
.card {
  overflow: hidden;
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);

  border-radius: 6px;
  background: var(--white);
  box-shadow:
    1px 2px 6px rgba(var(--K900-rgb), 0.15),
    2px 4px 12px rgba(var(--K900-rgb), 0.15);

  img {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 15px rgba(var(--brown-rgb), 0.4);
  }

  &--empty {
    background: rgba(var(--K950-rgb), 0.6);

    img {
      visibility: hidden;
    }

    &::before {
      box-shadow: inset 0 0 15px rgba(var(--black-rgb), 0.5);
    }
  }
}
