@use "./constants.scss";
@use "./media.scss";
@use "./inputs.scss";
@use "./main.scss";
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap");

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return color.channel($hex, "red", $space: rgb),
      color.channel($hex, "green", $space: rgb),
      color.channel($hex, "blue", $space: rgb);
  }
  @each $name, $color in constants.$theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font: "Noto Serif", sans-serif;
  --font-mono: "Courier New", Courier, monospace;

  --content-width: 700px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;

  background-color: var(--black);
  background-image: url("/wall-tile.jpg");
  background-size: cover;

  color: var(--white);
  line-height: 1;
}

body,
button,
a,
textarea,
input {
  font-family: var(--font);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--white);
}

p {
  margin: 0 0 20px;
  font-weight: 500;

  b {
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
}

button {
  cursor: pointer;
  background: unset;
  border: unset;
}

button {
  transition: 0.2s ease all;
  transition-property: background-color, border-color, color;
  cursor: pointer;
  padding: 6px 8px;

  border-radius: 6px;
  border: unset;
  background: unset;

  font-size: 15px;
  font-weight: 500;
  color: var(--K100);

  &.plain-btn {
    border: 1px solid var(--K700);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      color: var(--K100);
      border-color: var(--K400);
      background: var(--K800);
    }
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}
