@use "./colors.scss";
@use "./media.scss";
@use "./inputs.scss";
@use "./main.scss";
@use "./header.scss";
@use "./room.scss";
@use "./health-bar.scss";
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return color.channel($hex, "red", $space: rgb),
      color.channel($hex, "green", $space: rgb),
      color.channel($hex, "blue", $space: rgb);
  }
  @each $name, $color in colors.$theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font: "Outfit", sans-serif;
  --font-mono: "Courier New", Courier, monospace;

  --content-width: 700px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  overflow-y: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;

  background-color: var(--black);
  background-image: url("/wall-tile.jpg");
  background-size: cover;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--white);
  line-height: 1;
}

body,
button,
a,
textarea,
input {
  font-family: var(--font);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.3;
  color: var(--white);
  line-height: 1.5;
}

ul {
  padding-left: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--beige);
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}

p,
li {
  margin: 0 0 30px;
  font-size: 16px;
  font-weight: 250;

  b {
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue);

  &:hover {
    color: var(--purple);
  }
}

button {
  transition: 0.2s ease all;
  transition-property: background-color, border-color, color;
  cursor: pointer;
  padding: 0 16px;
  height: var(--button-height);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: calc(var(--button-height) / 2);
  border: 1px solid rgba(var(--K700-rgb), 0.55);
  background: unset;
  box-shadow:
    inset 0 0 12px rgba(var(--K100-rgb), 0.1),
    1px 2px 8px rgba(var(--K950-rgb), 0.5);

  font-size: 18px;
  font-weight: 550;
  color: var(--K100);
  line-height: 1.4;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      color: var(--K100);
      border-color: var(--K400);
      background: var(--K800);
    }
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.color-green {
  color: var(--green);
  text-shadow: 0 0 6px rgba(var(--green-rgb), 0.8);
}
.color-red {
  color: var(--red);
  text-shadow: 0 0 6px rgba(var(--red-rgb), 0.8);
}
